@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eaeaea;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #eaeaea;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 0px;
  z-index: 4;
}
.nav-kanan {
  display: flex;
  margin-right: 40px;
}
span {
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  margin-left: 40px;
}
li {
  padding: 15px;
  list-style-type: none;
}
li a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent;
}
li a:hover {
  color: red;
}
.home {
  height: 100vh;
}
.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.intro p{
  font-size: 30px;
  margin-top: 15px;
  font-weight: 600;
}
.social-icons {
  display: flex;
}
img {
  width: 250px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
button {
  padding: 10px 20px;
  background-color: #233947;
  border: none;
  border-radius: 30px;
  position: relative;
  left: 36%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button a {
  text-decoration: none;
  font-size: 17px;
  color: white;
}
.info {
  height: 100vh;
  background-color: #eaeaea;
}
.tabel {
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 30px;
  font-size: 30px;
}
.tb {
  background-color: #233947;
}
.tb td {
  color: white;
}